
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-navbar {
    /* margin-top: 1%; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.app-logo{
    margin-left: 55px;
}
.logo{
    width: 3vw;
}

.nav-links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 35px;
}

.nav-links a{
    margin: 10px;
}

.nav-links a:hover{
    color: #f8024d;
    cursor: pointer;
}

.btn-1{
    height: 6vh;
    width: auto;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 7px 25px 7px 25px;
}

.btn-1:hover{
    background-color: #f8024d;
}

.profile-page{
    background-image: url('./Assets/img/bgg.jpg');
    background-size: cover;
    display: flex;
    height: 85vh;
    justify-content: right;
    flex-direction: column;
    place-content: right;
    align-items: flex-end;
}

.page-content{
    margin-top: 15%;
    margin-right: 20px;
    text-align: right;
    background: transparent;
}

.page-content h1{
    font-size: 3rem;
}

.page-content p{
    font-size: 1.5rem;
}

.btn-2{
    height: 6vh;
    width: auto;
    padding: 10px;
    margin: 10px;
    border: 2px solid #f8024d;
    border-radius: 8px;
    background-color: #f8024d;
    color: #ffffff;
}

.btn-2:hover{
    background-color: white;
    color: #f8024d;
}

.var{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.symbole{
    color: #f8024d;
    font-size: 2rem;
}

.app-var {
    width: auto;
    height: auto;
    min-height: 40vh;
    margin: 20px;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid grey;
    border-radius: 10px;
}

.app-var:hover{
    background-color: #d2d5da;
}

.app-var h3{
    font-size: 1.3rem;
}

.services {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #d2d5da;
    height: auto;
    width: auto;
    min-height: 65vh;
    margin: 20px;
    padding: 10px;
    text-align: left;
}

.services h1{
    font-size: 1.3rem;
}

.services p{
    font-size: 0.9rem;
}

.service-title {
    display: flex;
    margin: 10px;
    padding: 5px;
    flex-direction: column;
    width: 20%;
    height: auto;
    text-align: left;
}

.service-name {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 5px;
    justify-content: left;
    place-items: left;
    align-items: left;
    text-align: left;
}

.service-name h3{
    font-size: 1.3rem;
}

.sr-img {
    height: auto;
    width: 20vw;
    padding: 10px;
}

.read-more {
    padding: 20px;
}

.read {
    text-decoration-line: underline;
    text-decoration-color: #f8024d;
}

.staff{
    background-image: url('./Assets/img/staff.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    opacity: 0.88;
    height: auto;
    min-height: 60vh;
    flex-direction: row;
    padding: 25px;
    justify-content: center;
    place-content: center;
    align-items: center;
}

.staff-count {
    width: 25%;
    bottom: 0;
    position: relative;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-content: center;
    text-align: center;
    margin: 10px;
    font-weight: bolder;
}

.staff-count h1{
    font-size: 4rem;
}

.working {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    place-content: center;
    text-align: center;
    padding: 30px;
}

.bd{
    height: 50vh;
    width: auto;
    margin: 15px;
    width: auto;
}

.process{
    width: 35vw;
}

.process p{
    font-size: 1rem;
}
.process-name{
    font-size: 3rem;
    padding: 15px;
}

.team{
    display: flex;
    width: 60vw;
    padding: 20px;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    place-content: center;
    align-items: center;
    text-align: center;
}

.managing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    place-content: center;
}

.developer{
    display: flex;
    padding: 25px;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    place-content: left;   
}

.developer h4{
    font-size: 1rem;
    font-weight: 500;
}

.dev-pic{
    height: 40vh;
    margin-bottom: 15px;
}

.icon{
    display: flex;
    flex-direction: row;
    color: #c7c6c7;
    cursor: pointer;
}

.icon span:hover{
    color: black;
}